@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/theming';

table {
    width: 100%;
}

.span {
    color: red;
}

.contain_body {
    background-color: #fff;
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.margin_form {
    padding: 1rem 1rem 0rem 1rem;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.row_form_two mat-form-field+mat-form-field {
    margin-left: 8px;
}

.display_flex {
    display: flex;
}

.margin_left_btn {
    margin-left: 1rem;
}

.margin_top_btn {
    margin-top: 1rem;
}

mat-form-field,
.contain_btn {
    width: 100vw;
}

.margin_table {
    margin: 1rem;
}

.backround_white {
    background-color: #fff;
}

.contain_table {
    border: 1px solid #ccc;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: red !important;
}

.mat-mdc-text-field-wrapper {
    background-color: #fff !important;
}

.mat-elevation-z8 {
    box-shadow: none;
}

.custom-mat-form-field {
    height: 5.5rem;
}

.custom-label {
    font-size: 2rem;
}


@media only screen and (min-width: 992px) {
    small {
        margin-left: 22.5rem;
    }
}

@media only screen and (min-width: 1900px) {
    small {
        margin-left: 46rem;
    }
}

.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.detail-table {
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.boder_table {
    border-top: 1px solid #ccc;
}

.color_table_background {
    background-color: #fafafa;
}

.margin_top_h2 {
    margin-top: 1rem;
}

.backround_titile {
    background: #5cb85c;
    padding: 5px;
    border-radius: 8px;
    color: #fff;
}

.display_flex_table {
    display: flex;
    justify-content: space-between;
}