<div class="app">
    <div class="contain_title">
        <h2><b>Project</b></h2>
    </div>

    <div class="contain_body">


        <form action="" class="">

            <div class="margin_form example-container display_flex">

                <mat-form-field class="custom-mat-form-field">
                    <mat-label>Distributor <span class="span">*</span></mat-label>
                    <mat-select [(ngModel)]="Distributor" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let val of get_data_Distributor"
                            [value]="val.disName">{{val.disName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>From *</mat-label>
                  <input matInput [matDatepicker]="picker1" [(ngModel)]="Date_From" [ngModelOptions]="{standalone: true}">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>To *</mat-label>
                  <input matInput [matDatepicker]="picker2" [(ngModel)]="Date_To" [ngModelOptions]="{standalone: true}">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Project Code</mat-label>
                    <input matInput [(ngModel)]="Project_Code" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Project Name</mat-label>
                    <input matInput [(ngModel)]="Project_Name" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <!-- 
                <div class="contain_btn">
                    <h6>Project Name</h6>
                    <mat-form-field>
                        <input matInput [value]="input_value_2">
                    </mat-form-field>
                </div>

                <div class="contain_btn">
                    <h6>Project Name</h6>
                    <mat-form-field>
                        <input matInput [value]="input_value_2">
                    </mat-form-field>
                </div>

                <div class="contain_btn">
                    <h6>Project Name</h6>
                    <mat-form-field>
                        <input matInput [value]="input_value_2">
                    </mat-form-field>
                </div>

                <div class="contain_btn">
                    <h6>Project Name</h6>
                    <mat-form-field>
                        <input matInput [value]="input_value_2">
                    </mat-form-field>
                </div> -->

                <div class="contain_btn">
                    <button mat-raised-button color="warn" class="margin_left_btn margin_top_btn"
                        (click)="onClickLoad()">LOAD</button>
                </div>

            </div>

        </form>

        <div class="contain_table margin_table">

            <div class="mat-elevation-z8">

                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef (click)="toggleRow(element)"> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon class="expand-icon">
                                {{ element.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                            </mat-icon>
                            <span class="backround_titile">{{ element.approvalStatus }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="project_Code">
                        <th mat-header-cell *matHeaderCellDef> Project Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.projectCode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="project_Name">
                        <th mat-header-cell *matHeaderCellDef> Project Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="account_Code">
                        <th mat-header-cell *matHeaderCellDef> Account Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.accountNo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="project_Type">
                        <th mat-header-cell *matHeaderCellDef> Project Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.projectType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef> Customer </th>
                        <td mat-cell *matCellDef="let element"> {{getCustomerName(element.customerId)}} </td>
                    </ng-container>

                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">

                        <td class="boder_table color_table_background" mat-cell *matCellDef="let element"
                            [attr.colspan]="columnsToDisplay.length">

                            <div class="example-element-detail flex-container"
                                [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'">

                                <div>

                                    <div class="display_flex_table">
                                        <h2 class="margin_top_h2">Project - Detail</h2>

                                        <button class="margin_top_h2" mat-raised-button color="warn"
                                            (click)="downloadExcel(element.id)">EXPORT</button>
                                    </div>
                                    <!-- Cách làm ngắn gọn child forms -->
                                    <!-- <table class="detail-table">
                                    <tr>
                                        <th>Status</th>
                                        <th>Golfa Code</th>
                                        <th>Model</th>
                                        <th>Quantity</th>
                                        <th>Used In DPO</th>
                                        <th>Requested Price</th>
                                        <th>Sale Offer Price</th>
                                        <th>
                                    </tr>
                                    <tr *ngFor="let child of element.form_childs">
                                        <td>{{ child.status }}</td>
                                        <td>{{ child.golfa_Code }}</td>
                                        <td>{{ child.model }}</td>
                                        <td>{{ child.qty }}</td>
                                        <td>{{ child.used_In_DPO }}</td>
                                        <td>{{ child.requested_Price }}</td>
                                        <td>{{ child.sale_Offer_Price }}</td>
                                        <td>{{ child.amount_Requested_Price }}</td>
                                    </tr>
                                </table> -->

                                    <table mat-table [dataSource]="element.listProjectDetail" class="detail-table">
                                        <!-- Cách làm ngắn gọn child forms -->
                                        <!-- <ng-container *ngFor="let column of childColumnsToDisplay"
                                        matColumnDef="{{ column }}">
                                        <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
                                        <td mat-cell *matCellDef="let child"> {{ child[column] }} </td>
                                    </ng-container> -->

                                        <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef> Status </th>
                                            <td mat-cell *matCellDef="let child"> <span
                                                    class="backround_titile">{{child.statusCode}}</span> </td>
                                        </ng-container>

                                        <ng-container matColumnDef="golfa_Code">
                                            <th mat-header-cell *matHeaderCellDef> Golfa Code </th>
                                            <td mat-cell *matCellDef="let child"> {{child.golfaCode}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="model">
                                            <th mat-header-cell *matHeaderCellDef> Model </th>
                                            <td mat-cell *matCellDef="let child"> {{child.model}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="qty">
                                            <th mat-header-cell *matHeaderCellDef> Qty </th>
                                            <td mat-cell *matCellDef="let child"> {{child.qty}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="used_In_DPO">
                                            <th mat-header-cell *matHeaderCellDef> Used In DPO </th>
                                            <td mat-cell *matCellDef="let child"> {{child.dpoUsed}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="requested_Price">
                                            <th mat-header-cell *matHeaderCellDef> Requested Price </th>
                                            <td mat-cell *matCellDef="let child"> {{child.requestPrice}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="sale_Offer_Price">
                                            <th mat-header-cell *matHeaderCellDef> Sale Offer Price </th>
                                            <td mat-cell *matCellDef="let child"> {{child.saleOfferPrice}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="amount_Requested_Price">
                                            <th mat-header-cell *matHeaderCellDef> Amount Requested Price </th>
                                            <td mat-cell *matCellDef="let child"> {{child.amountRequestedPrice}} </td>
                                        </ng-container>

                                        <!-- Header row definition for child forms -->
                                        <tr mat-header-row *matHeaderRowDef="childColumnsToDisplay"></tr>

                                        <!-- Data rows for child forms -->
                                        <tr mat-row *matRowDef="let child; columns: childColumnsToDisplay;"></tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                        [class.example-expanded-row]="element.expanded" (click)="toggleRow(element)">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
            </div>
        </div>
    </div>
</div>
