<div class="card">
  <div class="card-header">
    <div class="table-name">ETA/ETD</div>
  </div>
  <div class="contain_table margin_table">
    <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
  
      <!-- Displaying columns for ETA/ETD table -->
      <ng-container matColumnDef="statusCode">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.statusCode}}</td>
      </ng-container>

      <ng-container matColumnDef="invoiceNo">
        <th mat-header-cell *matHeaderCellDef>Invoice No</th>
        <td mat-cell *matCellDef="let element">{{element.invoiceNo}}</td>
      </ng-container>

      <ng-container matColumnDef="golfaCode">
        <th mat-header-cell *matHeaderCellDef>Golfa Code</th>
        <td mat-cell *matCellDef="let element">{{element.qty}}</td>
      </ng-container>

      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef>Qty</th>
        <td mat-cell *matCellDef="let element">{{element.qty}}</td>
      </ng-container>

      <ng-container matColumnDef="etd">
        <th mat-header-cell *matHeaderCellDef>ETD</th>
        <td mat-cell *matCellDef="let element">{{element.etd | date: 'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="eta">
        <th mat-header-cell *matHeaderCellDef>ETA</th>
        <td mat-cell *matCellDef="let element">{{element.eta | date: 'dd/MM/yyyy'}}</td>
      </ng-container>
      <!-- Header row for ETA/ETD table -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  
      <!-- Data rows for ETA/ETD table -->
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  
    </table>
  </div>
  <div class="card-footer">
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of Distribution Purchase Order">
    </mat-paginator>
  </div>
</div>