<abp-page>
  <div class="contain_title">
    <h2><b>Distributor Purchase Order</b></h2>
  </div>
  <div class="card">

    <div class="card-header">
      <mat-form-field class="distributor-select">
        <mat-label> Distributor</mat-label>
        <mat-select [(ngModel)]="selectedDistributor">
          <mat-option *ngFor="let dis of distributorDto" [value]="dis.disName">
            {{dis.disName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="date-picker">
        <mat-label>Month - Year</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="dpo-input">
        <mat-label>DPO No</mat-label>
        <input matInput [matAutocomplete]="auto" #dpo [(ngModel)]="selectedDPO">
        <mat-autocomplete #auto="matAutocomplete">
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="status-select">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="selectedStatus">
          <mat-option *ngFor="let get of statuses" [value]="get">
            {{get}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="material-type-select">
        <mat-label>Material Type</mat-label>
        <mat-select [(ngModel)]="selectedMaterialType">
          <mat-option *ngFor="let get of materialTypes" [value]="get">
            {{get}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button class="button" id="btn-test" mat-raised-button color="warn" (click)="onSearch()">Load</button>
    </div>
    <div class="contain_table margin_table" *ngIf="isSearchClicked">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="expandArrow">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" (click)="toggleRow(element)">
            <mat-icon>{{ element.expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="statusCode">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <span class="background_title">{{element.statusCode}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="dpoNo">
          <th mat-header-cell *matHeaderCellDef>DPO No</th>
          <td mat-cell *matCellDef="let element">{{element.dpoNo}}</td>
        </ng-container>

        <ng-container matColumnDef="fA_LVS">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">{{element.fA_LVS}}</td>
        </ng-container>

        <ng-container matColumnDef="orderDate">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element"> {{element.orderDate  | date: 'dd/MM/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element">{{element.totalAmount}}</td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Note</th>
          <td mat-cell *matCellDef="let element">{{element.note}}</td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td class="boder_table color_table_background" mat-cell *matCellDef="let element"
              [attr.colspan]="columnsToDisplay.length">

            <div class="example-element-detail flex-container"
                 [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'">

              <div class="card">
                <div class="card-header">
                  <div class="table-name">DPO Details</div>
                </div>
                <div class="card-body">
                  <table mat-table [dataSource]="dataSource2" class="detail-table mat-elevation-z8">
                    <ng-container matColumnDef="statusCode">
                      <th mat-header-cell *matHeaderCellDef class="status-code-header">Status</th>
                      <td mat-cell *matCellDef="let child" class="status-code-header">
                        <span class="background_title">{{child.statusCode}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="golfaCode">
                      <th mat-header-cell *matHeaderCellDef>Golfa Code</th>
                      <td mat-cell *matCellDef="let child">{{child.golfaCode}}</td>
                    </ng-container>

                    <ng-container matColumnDef="model">
                      <th mat-header-cell *matHeaderCellDef>Model</th>
                      <td mat-cell *matCellDef="let child">{{child.model}}</td>
                    </ng-container>

                    <ng-container matColumnDef="requestedETA">
                      <th mat-header-cell *matHeaderCellDef>Requested ETA</th>
                      <td mat-cell *matCellDef="let child">{{child.requestedETA  | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="qty">
                      <th mat-header-cell *matHeaderCellDef>Qty</th>
                      <td mat-cell *matCellDef="let child">{{child.qty}}</td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef>Requested Price</th>
                      <td mat-cell *matCellDef="let child">{{child.price}}</td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef>Amount</th>
                      <td mat-cell *matCellDef="let child">{{child.amount}}</td>
                    </ng-container>

                    <ng-container matColumnDef="customerName">
                      <th mat-header-cell *matHeaderCellDef>Customer Name</th>
                      <td mat-cell *matCellDef="let child">{{child.customerName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="eta">
                      <th mat-header-cell *matHeaderCellDef>ETD/ETA</th>
                      <td mat-cell *matCellDef="let child">
                        <button mat-icon-button [style.cursor]="getIconColorDelivery(element) === 'blue' ? 'pointer' : 'default'"
                                [style.color]="getIconColorDelivery(element)"
                                [style.text-decoration]="getIconColorDelivery(element) === 'blue' ? 'underline' : 'none'" (click)="ETADetailsDto(element)">
                          <mat-icon>event</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="delivered">
                      <th mat-header-cell *matHeaderCellDef>Delivered</th>
                      <td mat-cell *matCellDef="let child">
                        <a *ngIf="columnsToDisplay2.includes('delivered')" [style.color]="getIconColorDelivery(element)" (click)="deliveryDetailDto(element)">
                          {{ child.delivered }}
                        </a>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="inProgress">
                      <th mat-header-cell *matHeaderCellDef>In Progress</th>
                      <td mat-cell *matCellDef="let child">{{child.inProgress}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>

                    <!-- Data rows for DPO_details table -->
                    <tr mat-row *matRowDef="let child; columns: columnsToDisplay2;" class="data-row"></tr>
                  </table>
                </div>
              </div>
            </div>

          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>
    <div class="card-footer">
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of Distribution Purchase Order">
      </mat-paginator>
    </div>

  </div>
</abp-page>
