
@import '@angular/material/theming';

$custom-primary: mat-palette($mat-indigo);
$custom-accent: mat-palette($mat-pink, A200, A100, A400);

// Create a custom theme using your defined colors
$custom-theme: mat-light-theme($custom-primary, $custom-accent);

// Apply your custom theme to the Angular Material components
@include angular-material-theme($custom-theme);
.card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .card-header {
    button {
      height: 54px;
      width: 120px;
    }
  }
}
  
  .distributor-select {
    
    margin-bottom: 15px;
    margin-right: 20px;
  }
  
  .date-picker {
    margin-right: 20px;
    margin-bottom: 15px;
  
    // Customize datepicker styles
    .mat-datepicker-toggle {
      color: black;
    }
  }
  
  .dpo-input {
    margin-right: 20px;
    margin-bottom: 15px;
  }
  
  .status-select {
    margin-right: 20px;
    margin-bottom: 15px;
  }
  
  .material-type-select {
    
    
  }
  
  .submit-button {
    
    margin-top: 20px;
  }
  
  .mat-option {
    padding: 10px;
  }
  
  .mat-autocomplete {
    
  }
  
  .mat-datepicker {
   
  }
  
  .mat-form-field {
    display: flex;
    flex-direction: column;
  }
  
  .mat-datepicker-toggle {
    margin-top: 20px; // Adjust the margin as needed
  }
  
  .mat-datepicker-content {
    margin-top: 10px; // Adjust the margin as needed
  }
  .button {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;

    // Additional styles to ensure the button maintains the same height as other fields
    align-items: center;
    
  }
  tr[matNoDataRow] td {
    font-size: 1.5rem;
  }
  
  /* Center the text in the table */
  tr[matNoDataRow] td {
    text-align: center;
  }
  .table-name {
    font-weight: bold;
  }
  .display_flex {
    display: flex;
}

.margin_left_btn {
    margin-left: 1rem;
}

.margin_top_btn {
    margin-top: 1rem;
}


.contain_btn {
    width: 100vw;
}

.margin_table {
    margin: 1rem;
}

.backround_white {
    background-color: #fff;
}

.contain_table {
    border: 1px solid #ccc;
}

::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: red !important;
}

.mat-mdc-text-field-wrapper {
    background-color: #fff !important;
}

.mat-elevation-z8 {
    box-shadow: none;
}


@media only screen and (min-width: 992px) {
    small {
        margin-left: 22.5rem;
    }
}

@media only screen and (min-width: 1900px) {
    small {
        margin-left: 46rem;
    }
}

.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.detail-table {
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.boder_table {
    border-top: 1px solid #ccc;
}

.color_table_background {
    background-color: #fafafa;
}

.margin_top_h2 {
    margin-top: 1rem;
}

.background_title {
    background: rgb(0, 140, 255);
    padding: 5px;
    border-radius: 8px;
    color: #fff;
}

.display_flex_table {
    display: flex;
    justify-content: space-between;
}
table {
  width: 100%;
}

.custom-snackbar {
  font-size: 50px; // Adjust the font size as needed
  color: red; // Change this to your desired text color
  height: 80px; // Adjust the height as needed
  line-height: 80px; // Center the text vertically (adjust line-height accordingly)
  max-width: 100px;
}
.hello{
  
}

  
  
  
  

