<div class="app">
    <div class="contain_title">
        <h2><b>Material Stock Checking</b></h2>
    </div>

    <div class="contain_body">


        <form action="" class="">

            <div class="margin_form example-container display_flex">

                <mat-form-field>
                    <mat-label>Distributor <span class="span">*</span></mat-label>
                    <mat-select [(ngModel)]="Distributor" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let val of get_data_Distributor"
                            [value]="val.disName">{{val.disName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Vender</mat-label>
                    <mat-select [(ngModel)]="Vender" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let val of get_data_venders"
                            [value]="val.verderName">{{val.verderName}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Material Group</mat-label>
                    <mat-select [(ngModel)]="Material_Group" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let val of get_data_Material_Group"
                            [value]="val.materialName">{{val.materialName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="contain_btn">
                    <button mat-raised-button color="warn" class="margin_left_btn margin_top_btn"
                        (click)="onClickLoad()">LOAD</button>
                    <button mat-raised-button color="warn" class="margin_left_btn margin_top_btn"
                        (click)="downloadExcel()">EXPORT</button>
                </div>

            </div>

            <div class="row_form_two display_flex margin_form">
                <mat-form-field>
                    <mat-label>Golfacode</mat-label>
                    <input matInput [(ngModel)]="Golfacode" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Model</mat-label>
                    <input matInput [(ngModel)]="Model" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>

            <small>
                Material, stock infomation. We will show top 500 results only for better performance ( <b>Số liệu
                    chỉ có tính chất tham khảo thời điển hiện tại</b> )
            </small>

        </form>

        <div class="contain_table margin_table">

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="golfaCode">
                        <th mat-header-cell *matHeaderCellDef> Golfa Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.golfaCode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef> Model </th>
                        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description_VN">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description_VN}} </td>
                    </ng-container>

                    <ng-container matColumnDef="venderId">
                        <th mat-header-cell *matHeaderCellDef> Vender </th>
                        <td mat-cell *matCellDef="let element">{{ getVenderName(element.venderId) }}</td>
                    </ng-container>

                    <ng-container matColumnDef="materialGroupId">
                        <th mat-header-cell *matHeaderCellDef> Material Group </th>
                        <td mat-cell *matCellDef="let element"> {{getMateriaGroup(element.materialGroupId)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="stockValueWarning">
                        <th mat-header-cell *matHeaderCellDef> Available Stock </th>
                        <td mat-cell *matCellDef="let element"> {{element.stockValueWarning}} </td>
                    </ng-container>

                    <ng-container matColumnDef="stockTmp">
                        <th mat-header-cell *matHeaderCellDef> On Order Stock </th>
                        <td mat-cell *matCellDef="let element"> {{element.stockTmp}} </td>
                    </ng-container>

                    <ng-container matColumnDef="standard_Price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.standard_Price}} </td>
                    </ng-container>

                    <ng-container matColumnDef="spec1">
                        <th mat-header-cell *matHeaderCellDef> Spec 1 </th>
                        <td mat-cell *matCellDef="let element"> {{element.spec1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="spec2">
                        <th mat-header-cell *matHeaderCellDef> Spec 2 </th>
                        <td mat-cell *matCellDef="let element"> {{element.spec2}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>

        </div>
    </div>
</div>