<div class="card">
    <div class="card-header">
      <div class="table-name">DO Details</div>
    </div>
    <div class="contain_table margin_table">
      <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8">
    
        <!-- Displaying columns for ETA/ETD table -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{                        element.statusCode        }}</td>
        </ng-container>

        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef>DO Date</th>
          <td mat-cell *matCellDef="let element">{{element.deliveryDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="invoiceNo">
          <th mat-header-cell *matHeaderCellDef>Invoice No</th>
          <td mat-cell *matCellDef="let element">{{element.invoiceNo}}</td>
        </ng-container>

        <ng-container matColumnDef="invoiceDate">
          <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
          <td mat-cell *matCellDef="let element">{{element.invoiceDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef>Qty</th>
          <td mat-cell *matCellDef="let element">{{element.qty}}</td>
        </ng-container>
    
        <!-- Header row for ETA/ETD table -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    
        <!-- Data rows for ETA/ETD table -->
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    
      </table>
    </div>
    <div class="card-footer">
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of Distribution Purchase Order">
      </mat-paginator>
    </div>
  </div>
