<div class="container">
  <h1 class="text-center">Cookie Policy</h1>

  <div class="section-1 my-5">
    <p>
      This cookie policy explains how cookies and similar technologies are used by
      MEVN.DistributorApp.V2 ("we", "or" or "us") on our websites and other online services
      (like applications, portals or other services that use cookies).
    </p>
  </div>

  <div class="section-2 my-5">
    <h2>What are cookies and why do we use them?</h2>

    <p>
      Cookies are small text files stored in your browser’s memory by our websites. They are
      commonly used to support various functions on our websites.
    </p>

    <p>
      Cookies do other very useful jobs, such as tell us which pages you visited the most,
      understand how effective our website has been to you, and improve our communication to you on
      our products and services.
    </p>

    <p>
      We do not use cookies to collect information that directly identifies you as an individual.
      However, some information collected by cookies may be treated as personal data (such as your
      browsing history, or your device information).
    </p>

    <p>
      Depending on the job the cookie needs to perform, it may be a session or persistent cookie:
    </p>

    <ul>
      <li>
        Persistent cookies are retained on your device until you either erase them or your browser
        erases them when the cookie reaches its expiration date.
      </li>
      <li>
        Session cookies are temporary and expire once you close your browser or once your session
        ends.
      </li>
    </ul>
  </div>

  <div class="section-3 my-5">
    <h2>What type of cookies do we use?</h2>

    <p>
      We only use the "Strictly Necessary" cookies on our website to improve user experience and
      these cookies are required to websites effectively run.
    </p>

    <div>
      <h3>Strictly Neccessary Cookies</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Cookie</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AspNetCore.Antiforgery.*</td>
            <td>Helps prevent Cross-Site Request Forgery (CSRF) attacks.</td>
          </tr>
          <tr>
            <td>XSRF-TOKEN</td>
            <td>
              Ensures visitor browsing-security by preventing cross-site request forgery. This
              cookie is essential for the security of the website and visitor.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
